<!-- 底部工具栏 -->
<nav class="bar bar-tab" >
    <a class="tab-item {{if barId == 'information'}}active{{/if}}" href="index.html" id="bar-information">
        <span class="icon icon-message"></span>
        <span class="tab-label">消息</span>
        <span class="badge hide"></span>
    </a>
    <a class="tab-item {{if barId == 'contact'}}active{{/if}}" href="contact.html" id="bar-contact">
        <span class="icon icon-phone"></span>
        <span class="tab-label">通讯录</span>
        <span class="badge hide"></span>
    </a>
    <a class="tab-item {{if barId == 'work'}}active{{/if}}" href="work.html" id="bar-work">
        <span class="icon icon-app"></span>
        <span class="tab-label">工作</span>
        <span class="badge no-content hide"></span>
    </a>
    <a class="tab-item {{if barId == 'myself'}}active{{/if}}" href="myself.html" id="bar-myself">
        <span class="icon icon-me"></span>
        <span class="tab-label">我</span>
        <span class="badge hide"></span>
    </a>
</nav>




