<nav class="bar bar-tab">
    <a class="tab-item {{if barId == 'index'}}active{{/if}}" id="bar-index" href="index.html">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页2</span>
    </a>
    <a class="tab-item {{if barId == 'form'}}active{{/if}}" id="bar-form" href="form.html">
        <span class="icon icon-me"></span>
        <span class="tab-label">表单2</span>
        <span class="badge">2</span>
    </a>
    <a class="tab-item {{if barId == 'list'}}active{{/if}}" id="bar-list" href="template_list.html">
        <span class="icon icon-star"></span>
        <span class="tab-label">列表2</span>
    </a>
    <a class="tab-item {{if barId == 'listTab'}}active{{/if}}" id="bar-listTab" href="template_list_tabs.html">
        <span class="icon icon-cart"></span>
        <span class="tab-label">多列表2</span>
    </a>
</nav>