<!-- listloader 模板 -->

<!-- 下拉刷新 -->
<script id="o-listloader-up-pull" type="text/html">
	<div class="pull-to-refresh-layer">
		<div class="preloader"></div>
		<div class="pull-to-refresh-arrow"></div>
	</div>
</script>

<!-- 到底部自动加载更多 -->
<script id="o-listloader-auto-loading" type="text/html">
	<div class="infinite-scroll-preloader">
		<div class="preloader">
		</div>
	</div>
</script>

<!-- 数据加载完成提示 -->
<script id="o-listloader-finished" type="text/html">
	<div class="o-listloader-finished">{{$.o.i18n.m("o.listloader.finish")}}</div>
</script>