<!-- 草稿页面 -->
<div class="page draft _list">
	<header class="bar bar-nav">
		<a class="button button-link button-nav pull-left back" href="#">
			<span class="icon icon-left"></span>返回
		</a>

		<h1 class="title">草 稿</h1>
		<a class="pull-right open-popover" data-popover="#form-listDraft-popover">
			<img src="../assets/img/header/more.png" id="moreimg"/>
		</a>
	</header>
	<div class="bar bar-header-secondary">
		<div class="searchbar">
			<a class="searchbar-cancel" data-id="listDraft"><span>搜索</span></a>

			<div class="search-input">
				<label class="icon icon-search" for="search"></label>
				<input type="search" id='search' placeholder='标题、姓名' value="{{condition}}"
					   data-o-template-dynamic="true"/>
			</div>
		</div>
	</div>
	<div class="content"
		 data-o-listloader="true"
		 data-o-listloader-url="server2/work/listDraft"
		 data-o-listloader-template-id="template-draft-list">
		<div class="o-listloader-data">
		</div>
	</div>
	<script type="text/html" id="template-draft-list">
		{{each list as item}}
		<div class="row" data-o-url-change="infoDraft.html?taskId={{item.taskId}}">
			<div class="col-50">
				<div class="daiban-title nowrap">
					{{substr(item.title,13,'...')}}
				</div>
				{{if item.sendName != null && item.sendName.length > 0}}
				<span>{{item.sendName}}</span>
				{{/if}}
				<span>{{item.receiveTime}}</span>
			</div>
			<div class="col-30">
				&nbsp;
			</div>
			<div class="col-20">
				{{if item.priority=="紧急"}}
				<span class="pull-right cred">紧急</span>
				{{/if}}
				{{if item.priority=="普通"}}
				<span class="pull-right cblue">普通</span>
				{{/if}}
				{{if item.priority=="一般"}}
				<span class="pull-right cgray">一般</span>
				{{/if}}
			</div>
		</div>
		{{/each}}
	</script>
	<ul style="margin-top: 4.3rem;">
		<div class="list-search"></div>
	</ul>
	<!-- 右上角下拉菜单 -->
	<div class="popover" id="form-listDraft-popover">
		<div class="popover-inner">
			<div class="list-block">
				<ul>
					<li><a href="#" class="list-button item-link" data-o-url-change="draft_delete.html">草稿删除</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>