<!-- 流程 -->
<div class="page contact message_process message_processes">
    <div id="process"></div>
    <script type="text/html" id="template-message_processes-show">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="#">
                <span class="icon icon-left"></span>返回
            </a>
            <h1 class="title">{{substr(definitionName,8,'...')}}</h1>
            <a class="pull-right submit"><span>确定</span></a>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li class="item-content li" id="refer">
                        <div class="name">提交分组:</div>
                        <div class="item-inner opin">
                            <div class="item-title">
                                请选择
                            </div>
                        </div>
                    </li>
                    <div id="div_opinionon" style="display: none">
                        <li class="item-content li" id="opinionon">
                            <div class="name">决定性意见:</div>
                            <div class="item-inner opin">
                                <div class="item-title">
                                    请选择
                                </div>
                            </div>
                        </li>
                    </div>
                    <div id="div_way" style="display: none">
                        <li class="item-content li" id="way">
                            <div class="name">路径:</div>
                            <div class="item-inner opin">
                                <div class="item-title" id="way_value">&nbsp;</div>
                            </div>
                        </li>
                    </div>
                    <div id="div_opinion" style="display:none ">
                        <!-- 意见和选人 -->
                    </div>
                </ul>
            </div>
        </div>
    </script>
    <!-- 意见模板 -->
    <script type="text/html" id="template-opinions-show">
        <input id="optional" value="{{data.optional}}" type="hidden"/>
        {{if data.opinion && data.opinion.contents.length}}
        <input id="opinionBlank" value="{{data.opinion.opinionBlank+''}}" type="hidden"/>
        {{each data.opinion.contents as content i}}
        <li class="item-content li lion opinion">
            <div class="name">意见
                {{if content.tag!=""}}
                    ({{content.tag}}):
                {{/if}}
            </div>
            <div class="item-inner opin">
                <div class="item-title">{{content.content ? content.content : "请输入"}}</div>
                <div class="rightImg" id="rightImg1">
                    <img class="imgon" src="../assets/img/process/opinion.png"/>
                    <img class="imgdef" src="../assets/img/process/opinion(on).png"/>
                </div>
            </div>
        </li>
        <li class="choise">
            <div>
                <textarea name="content" data-id="{{content.tag}}" placeholder="请输入文字">{{content.content}}</textarea>
                <span class="wordwrap">0</span>
            </div>
        </li>
        {{/each}}
        {{/if}}
    </script>
    <!-- 选人模板 -->
    <script type="text/html" id="template-selector-show">
        {{each data.readers as reader}}
            <div class="select_person">
                <p class="sendperson">{{reader.sequenceFlowName}}</p>
                <li class="item-content li liop">
                    <div class="name ban">阅知人:</div>
                    <div class="item-inner" data-id="{{reader.id}}">
                        <div class="item-title checkedEmp">
                        </div>
                        <img src="../assets/img/process/more04.png" class="selected" style="display: none"
                             data-o-url-change="../bropen/templates/selected.html?selectorType=processSelector&actorId={{window.encodeURIComponent(reader.id)}}" data-o-url-reload="true">
                        <div class="rightImg">
                            <img class="imgdef" src="../assets/img/process/add(on).png"
                                 data-o-url-change="../bropen/templates/selector.html?selectorType=processSelector&taskId={{taskId}}&actorId={{window.encodeURIComponent(reader.id)}}&single={{reader.single}}" data-o-url-reload="true"/>
                        </div>
                    </div>
                </li>
            </div>
        {{/each}}
        {{each data.noSelectReaders as noSelectReader}}
            {{if noSelectReader.actors != null && noSelectReader.actors.length > 0}}
                <div class="select_person">
                    <p class="sendperson">{{noSelectReader.sequenceFlowName}}</p>
                    <li class="item-content li liop">
                        <div class="name ban">
                            阅知人:
                        </div>
                        <div class="item-inner"  data-id="">
                            <div class="item-title checkedEmp">
                                {{each noSelectReader.names.split(",") as name}}
                                    <div class='round-head'>{{subName(name)}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </li>
                </div>
            {{/if}}
        {{/each}}
        {{each data.actors as actor}}
            <div class="select_person">
                <p class="sendperson">{{actor.sequenceFlowName}}</p>
                <li class="item-content li liop">
                    <div class="name ban">办理人:</div>
                    <div class="item-inner" data-id="{{actor.id}}">
                        <div class="item-title checkedEmp">
                        </div>
                        <img src="../assets/img/process/more04.png" class="selected" style="display: none"
                             data-o-url-change="../bropen/templates/selected.html?selectorType=processSelector&actorId={{window.encodeURIComponent(actor.id)}}" data-o-url-reload="true">
                        <input id="{{actor.id}}" type="hidden" />
                        <div class="rightImg">
                            <img class="imgdef" src="../assets/img/process/add(on).png"
                                 data-o-url-change="../bropen/templates/selector.html?selectorType=processSelector&taskId={{taskId}}&actorId={{window.encodeURIComponent(actor.id)}}&single={{actor.single}}" data-o-url-reload="true"/>
                        </div>
                    </div>
                </li>
            </div>
        {{/each}}
        {{each data.noSelectActors as noactor}}
            {{if noactor.actors != null && noactor.actors.length>0}}
                <div class="select_person">
                    <p class="sendperson">{{noactor.sequenceFlowName}}</p>
                    <li class="item-content li liop">
                        <div class="name ban">
                            办理人:
                        </div>
                        <div class="item-inner"  data-id="">
                            <div class="item-title checkedEmp">
                                {{each noactor.names.split(",") as name}}
                                <div class='round-head'>{{subName(name)}}</div>
                                {{/each}}
                            </div>
                        </div>
                    </li>
                </div>
            {{/if}}
        {{/each}}
    </script>
</div>