<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
	说明：
	1、修改 url、bundle-identifier、bundle-version、title
	2、iOS 7 后，必须通过合法的 https 访问才能安装
	3、测试链接：<a href="itms-services://?action=download-manifest&url=https://url-to-your-app.plist">安装</a>
-->
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://service.bropen.com.cn/t/BroMobileShell/BroMobileShell_1.0.0.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>bropen.mobile.shell</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>BroMobileShell</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>